* {
  box-sizing: border-box;
}

#main-header {
  background-image: linear-gradient(to right, rgb(101, 166, 206, 0.75), rgba(41, 81, 145, 0.95));
  margin: 20px 20px;
  border-radius: 0.15cm;
}

#app-content,
#app-sections {
  margin: 20px 10px;
}

.btn {
  font-size: 1.2rem;
  text-decoration: none;
  padding: 4px 3px;
  width: 100%;
  display: block;
  margin: 4px 0;
  background-color: #0070ba;
  color: whitesmoke;
}

.btn:hover {
  background-color: rgb(92, 150, 175);
  color: whitesmoke;
}

#weather-container,
#weather-cards-section {
  margin-left: 10px;
}

/* #weather-container {
  display: none;
  background-color: rgba(41, 81, 145);
  color: ghostwhite
} */

#cards-header {
  font-weight: 750;
  font-size: x-large;
  padding: 10px;
  border: none;
}

#weather-city-name,
#date-time {
  text-transform: capitalize;
  font-size: x-large;
  font-weight: bolder;
}

#card-body {
  background-color: rgba(41, 81, 145, 0.9);
  color: ghostwhite
}

ul {
  margin: 0;
  padding: 0px;
}

li {
  list-style-type: none;
  padding: 5px;
  font-size: large;
  font-weight: 500;
}